<!-- Blog entries -->
<div class="dd-col l8 s12">
    <!-- Blog entry -->
    <div class="margin formBackColor w100">
        <img src="/img/11.jpg" alt="Norway">
        <div class="dd-container">
            <h3><b>Italy</b></h3>
            <h5>Hungary - Austria - Italy - San Marina - Germany - Poland - Ukraine <span class="dd-opacity">01-24.07.2016</span></h5>
        </div>

        <div class="dd-container">
            <p>Длительное путешествие через 6 стран.</p>
            <div class="dd-row">
                <div class="dd-col m8 s12">
                    <p><button class="dd-button dd-padding-large formBackColor"><b>READ MORE &raquo;</b></button></p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Blog entry -->
    <div class="margin formBackColor w100">
        <img src="/img/001.jpg" alt="Norway">
        <div class="dd-container">
            <h3><b>BLOG ENTRY</b></h3>
            <h5>Title description, <span class="dd-opacity">April 2, 2014</span></h5>
        </div>

        <div class="dd-container">
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
                congue ullam corper. Praesent tincidunt sed
                tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                fringilla.</p>
            <div class="dd-row">
                <div class="dd-col m8 s12">
                    <p><button class="dd-padding-large formBackColor"><b>READ MORE &raquo;</b></button></p>
                </div>
            </div>
        </div>
    </div>
    <!-- END BLOG ENTRIES -->
</div>



<template id="blogEntry">
    <!-- Blog entry -->
    <div class="margin formBackColor w100">
        <img src="/img/11.jpg" alt="Norway">
        <div class="dd-container">
            <h3><b>Italy</b></h3>
            <h5>Hungary - Austria - Italy - San Marina - Germany - Poland - Ukraine <span class="dd-opacity">01-24.07.2016</span></h5>
        </div>

        <div class="dd-container">
            <p>Длительное путешествие через 6 стран.</p>
            <div class="dd-row">
                <div class="dd-col m8 s12">
                    <p><button class="dd-padding-large formBackColor"><b>READ MORE &raquo;</b></button></p>
                </div>
            </div>
        </div>
    </div>
</template>