<footer class="footer" id="footer" class="footer text-center">

    <ul class="icons">
        <li><a href="#"><i class="icon circle fa fa-twitter" aria-hidden="true"><span class="label">Twitter</span></i></a></li>
        <li><a href="#"><i class="icon circle fa fa-facebook" aria-hidden="true"><span class="label">Facebook</span></i></a></li>
        <li><a href="#"><i class="icon circle fa fa-google-plus" aria-hidden="true"><span class="label">Google+</span></i></a></li>
        <li><a href="#"><i class="icon circle fa fa-github" aria-hidden="true"><span class="label">Github</span></i></a></li>
        <li><a href="#"><i class="icon circle fa fa-dribbble" aria-hidden="true"><span class="label">Dribbble</span></i></a></li>
    </ul>
    <span class="text-muted">&copy; Copyrights Red Cats. All rights reserved.</span>
</footer>