<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Peculiar Shopaholic</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- link rel="stylesheet" href="./app.scss" -->

    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css" />

    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="./sass/styles.scss">
</head>