<header>
    <nav>
        <ul class="nav-menu drop-down">
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="products.html">Catalog</a></li>
            <li class="nav-item"><a href="blog.html">Blog</a></li>
            <li class="nav-item"><a href="contact.html">Contact</a></li>
            <li class="nav-item"><a href="#">Drop Down</a>
                <ul>
                    <li><a href="flex01.html">Flex Box</a></li>
                    <li><a href="flex02.html">Flex Article</a></li>
                    <li><a href="flex03.html">Flex Blog</a></li>
                    <li><a href="flex04.html">Flex Gallery</a></li>
                    <li><a href="flex05.html">Flex U-box</a></li>
                    <li><a href="flex06.html">Flex Video</a></li>
                    <li><a href="flex07.html">Flex Rows</a></li>
                    <li><a href="flex08.html">Flex Accord</a></li>
                    <li><a href="flex09.html">Flex Grid</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>