<!-- Posts -->
<div class="dd-card dd-margin">
    <div class="dd-container dd-padding">
        <h4>Popular Posts</h4>
    </div>
    <ul class="dd-ul dd-hoverable formBackColor">
        <li class="dd-padding-16">
            <!-- <img src="/ddimages/workshop.jpg" alt="Image" class="dd-left dd-margin-right" style="width:50px">  -->
            <span class="dd-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
        </li>
        <li class="dd-padding-16">
            <!-- <img src="/ddimages/gondol.jpg" alt="Image" class="dd-left dd-margin-right" style="width:50px">  -->
            <span class="dd-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
        </li>
        <li class="dd-padding-16">
            <!-- <img src="/ddimages/skies.jpg" alt="Image" class="dd-left dd-margin-right" style="width:50px">  -->
            <span class="dd-large">Dorum</span><br>
            <span>Ultricies congue</span>
        </li>
        <li class="dd-padding-16 dd-hide-medium dd-hide-small">
            <!-- <img src="/ddimages/rock.jpg" alt="Image" class="dd-left dd-margin-right" style="width:50px"> -->
            <span class="dd-large">Mingsum</span><br>
            <span>Lorem ipsum dipsum</span>
        </li>
    </ul>
</div>
<hr>