<!-- Labels / tags -->
<div class="dd-card dd-margin">
    <div class="dd-container dd-padding">
        <h4>Tags</h4>
    </div>
    <div class="dd-container formBackColor">
        <p><span class="dd-tag dd-black dd-margin-bottom">Travel</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">New
                York</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">London</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">IKEA</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">NORWAY</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">DIY</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Ideas</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Baby</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Family</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">News</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Clothing</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Shopping</span>
            <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Sports</span> <span class="dd-tag dd-light-grey dd-small dd-margin-bottom">Games</span>
        </p>
    </div>
</div>