.margin{
    margin:16px!important
}

.w100{
    width:100%;
}

.blogEntryMainTitle {
    font-style: bold;
    font-size: 1.7em;
}

.blogEntrySecondTitle {
    font-size: 1.2em;
}

.blogEntryDayTime {
    font-style: italic;
    font-size: 0.9em;
}

.blogEntryText {
    font-size: 1em;
}

.button-ditailes{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:normal;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.button-ditailes:disabled{
    cursor:
        not-allowed;
        opacity:0.3;
}