body, html{
    font-family: "Raleway", sans-serif;
    height: 100%;
    margin: 0;
}

.backcolor{
    color:#fff!important;
    background-color:#616161!important
}

.formBackColor{
color:#000!important;
background-color:#fff!important
}

a{
    color: aqua;
    background-color: rgb(75%, 75%, 75% );
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
}

 a:link{
     text-decoration:  none;
 }

//   a:hover, a:focus {
    // outline-offset: 4px;
    // background: #ffa;
    // border-style: none dotted dotted none;
//  }

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
    display:block
}

.logo{
    font-family: 'Indie Flower', cursive;
    color: rgb(250, 134, 104);
}