body{
    color: $primary-color;
    background-color: $primary-bg-color;
    font-size: $font-size;
    font-family: 'Mali', cursive;
    line-height: $line-height;
}
a{
    color: aqua;
    background-color: rgb(75%, 75%, 75% );
}

h1{
    color: hsl(70, 100, 100);
    font-size: 2.5em;
}

a {
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
 }

 a:link{
     text-decoration:  none;
 }

  a:hover, a:focus {
    outline-offset: 4px;
    background: #ffa;
 }
