
/*     Grids       */
.dd-container:after,.dd-container:before,.dd-panel:after,.dd-panel:before,.dd-row:after,.dd-row:before,.dd-row-padding:after,.dd-row-padding:before,
.dd-cell-row:before,.dd-cell-row:after,.dd-clear:after,.dd-clear:before,.dd-bar:before,.dd-bar:after{
    content:"";
    display:table;
    clear:both
}
.dd-col,.dd-half,.dd-third,.dd-twothird,.dd-threequarter,.dd-quarter{
    float:left;
    width:100%
}
.dd-col.s1{
    width:8.33333%
}
.dd-col.s2{
    width:16.66666%
}
.dd-col.s3{
    width:24.99999%
}
.dd-col.s4{
    width:33.33333%
}
.dd-col.s5{
    width:41.66666%
}
.dd-col.s6{
    width:49.99999%
}
.dd-col.s7{
    width:58.33333%
}
.dd-col.s8{
    width:66.66666%
}
.dd-col.s9{
    width:74.99999%
}
.dd-col.s10{
    width:83.33333%
}
.dd-col.s11{
    width:91.66666%
}
.dd-col.s12{
    width:99.99999%
}
@media (min-width:601px){
    .dd-col.m1{
        width:8.33333%
    }
    .dd-col.m2{
        width:16.66666%
    }
    .dd-col.m3,.dd-quarter{
        width:24.99999%
    }
    .dd-col.m4,.dd-third{
        width:33.33333%
    }
    .dd-col.m5{
        width:41.66666%
    }
    .dd-col.m6,.dd-half{
        width:49.99999%
    }
    .dd-col.m7{
        width:58.33333%
    }
    .dd-col.m8,.dd-twothird{
        width:66.66666%
    }
    .dd-col.m9,.dd-threequarter{
        width:74.99999%
    }
    .dd-col.m10{
        width:83.33333%
    }
    .dd-col.m11{
        width:91.66666%
    }
    .dd-col.m12{
        width:99.99999%
    }
}
@media (min-width:993px){
    .dd-col.l1{
        width:8.33333%
    }
    .dd-col.l2{
        width:16.66666%
    }
    .dd-col.l3{
        width:24.99999%
    }
    .dd-col.l4{
        width:33.33333%
    }
    .dd-col.l5{
        width:41.66666%
    }
    .dd-col.l6{
        width:49.99999%
    }
    .dd-col.l7{
        width:58.33333%
    }
    .dd-col.l8{
        width:66.66666%
    }
    .dd-col.l9{
        width:74.99999%
    }
    .dd-col.l10{
        width:83.33333%
    }
    .dd-col.l11{
        width:91.66666%
    }
    .dd-col.l12{
        width:99.99999%
    }
}
.dd-rest{
    overflow:hidden
}
.dd-stretch{
    margin-left:-16px;
    margin-right:-16px
}
.dd-content,.dd-auto{
    margin-left:auto;
    margin-right:auto
}
.dd-content{
    max-width:980px
}
.dd-auto{
    max-width:1140px
}
.dd-cell-row{
    display:table;
    width:100%
}
.dd-cell{
    display:table-cell
}
.dd-cell-top{
    vertical-align:top
}
.dd-cell-middle{
    vertical-align:middle
}
.dd-cell-bottom{
    vertical-align:bottom
}
.dd-hide{
  display:none!important
}
.dd-show-block,.dd-show{
  display:block!important
}
.dd-show-inline-block{
  display:inline-block!important
}
@media (max-width:1205px){
  .dd-auto{
    max-width:95%;
  }
}
@media (max-width:600px){
  .dd-modal-content{
    margin:0 10px;
    width:auto!important
  }
  .dd-modal{
    padding-top:30px
}
.dd-dropdown-hover.dd-mobile .dd-dropdown-content,.dd-dropdown-click.dd-mobile .dd-dropdown-content{
  position:relative
}	
.dd-hide-small{
  display:none!important
}
.dd-mobile{
  display:block;
  width:100%!important
}
.dd-bar-item.dd-mobile,.dd-dropdown-hover.dd-mobile,.dd-dropdown-click.dd-mobile{
  text-align:center
}
.dd-dropdown-hover.dd-mobile,.dd-dropdown-hover.dd-mobile .dd-btn,.dd-dropdown-hover.dd-mobile .dd-button,.dd-dropdown-click.dd-mobile,.dd-dropdown-click.dd-mobile .dd-btn,.dd-dropdown-click.dd-mobile .dd-button{
  width:100%
  }
}
@media (max-width:768px){
  .dd-modal-content{
    width:500px
  }
  .dd-modal{
    padding-top:50px
  }
}
@media (min-width:993px){
  .dd-modal-content{
    width:900px
  }
  .dd-hide-large{
    display:none!important
  }
  .dd-sidebar.dd-collapse{
    display:block!important
  }
}
@media (max-width:992px) and (min-width:601px){
  .dd-hide-medium{
    display:none!important
  }
}
@media (max-width:992px){
  .dd-sidebar.dd-collapse{
    display:none
  }
  .dd-main{
    margin-left:0!important;
    margin-right:0!important
  }
  .dd-auto{
    max-width:100%
  }
}