.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    float: right;
  }
  
  li a:hover {
    background-color: #111;
  }
//   .right{
    
//   }
  .navText{
    float: left;
    padding: 4px 100px;
    font-size: 3em;
  }